<div id="content">
  <script type="text/javascript" charset="utf-8">
    var myInfo;

    $(document).ready(function() {
      // Load infomation.
      $("#fb-bookmark").show();

        // Load Activity Stream.
        $("#activities").poll({
          url: "/user/activity_stream",
          interval: 3000,
          type: "GET",
          success: function(data){
            $("#activities").prepend(data);
          }
        });
    });
  </script>

  <div id="login-header">
    <div id="logo">
      <%= image_tag 'logo.png' %>  
    </div>

    <div id="profile-box">
      <span>Hi <%= RedisDB.get "name:#{session[:uid]}" %>!</span>
      <%= link_to 'Logout', :controller => 'session', :action => 'destroy' %>
      <span id="fb-bookmark">
        <fb:bookmark type="off-facebook"></fb:bookmark>
      </span>
    </div>
  </div>

  <div id="activities">
  </div>

  <div id="friends">
    <%= render :partial => "cute/friends", :locals => { :friends => @friends } %>
  </div>
</div>
