#scenarios {
  #scenario1 {
    float: left;
     padding: {
       left: 1em;
       right: 1em;
     }
  }

  #scenario2 {
    float: left;
  }

}

.friend-box {
  background-color: #b1b1d9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  -webkit-box-shadow: 1px 1px 1px #888; 
  -moz-box-shadow: 1px 1px 1px #888; 
  box-shadow: 1px 1px 1px #888; 

  padding: 0.5em;
  margin: {
    right: 1em;
    bottom: 1em;
  }
  float: left;
  width: 105px;
  height: 150px;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; 
}

.friend-box:hover {
  background-color: #dcdcee; 
}

.invite-form-box {
  width: 100%;
}

#footer {
  font-size: 80%;
  text-align: center; 
}

#pimg {
  z-index: 999999;
  display: none;
  position: absolute;
}

#pimg h3 {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 10px;
  border: 3px solid #999;
  background-color: #eeeeee;
}
