<div id="login-header">
  <div id="logo">
    <%= image_tag 'logo.png' %>
  </div>

  <div id="profile-box">
    <span id="fb-name"></span>
    <span id="fb-bookmark">
      <fb:bookmark type="off-facebook"></fb:bookmark>
    </span>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var myInfo;

  function userInfo(response) {
    myInfo = response;
    $("#fb-name").text("Hi, " + myInfo.name + "!");
  }

  $(document).ready(function() {
    $("#fb-bookmark").show();
    FB.api('/me', userInfo);
  });
</script>
