<div id="friends">
Loading...
</div>

<script type="text/javascript" charset="utf-8">
  var myFriends;

  function friendBox(uid) {
    this.xOffset = 5;
    this.yOffset = 50;

    $("#picture-" + uid).hover(function (e) {
        this.img_title = this.title;
        this.title = "";
        var img_src = $(this).attr('img_src');
        var desc = (this.img_title != "") ? "<h3>" + this.img_title + "</h3>" : "";
        var image = (img_src) ? img_src : this.src;
        $("body").append("<div id='pimg'><img src='" + image + "' alt='Image preview' />" + desc + "</div>");
        $("#pimg").css("top", (e.pageY - xOffset) + "px").css("left", (e.pageX + yOffset) + "px");
        $("#pimg").fadeIn(700);
    }, function () {
        this.title = this.img_title;
        $("#pimg").remove();

    });

    $("#picture-" + uid).mousemove(function (e) {
        $("#pimg").css("top", (e.pageY - xOffset) + "px").css("left", (e.pageX + yOffset) + "px");
    });
  }

  function cuteClick(uid, name, cute) {
    link_id = "#cute-box-holder-" + uid;

    if(cute == true) {
      // Cute link_id person.
      $.get("<%= url_for(:action => 'new') -%>", { 'uid': uid, 'name': name },
        function(data) {
          $(link_id).fadeOut();
          $(link_id).html(data);
          $(link_id).fadeIn();
        });
    } else {
      // Uncute link_id person.
      $.get("<%= url_for(:action => 'destroy') -%>", { 'uid': uid, 'name': name },
        function(data) {
          $(link_id).fadeOut();
          $(link_id).html(data);
          $(link_id).fadeIn();
      });
    }

    return false;
  }

  function addFriendBox(friend) {
    var divBox = "";
    divBox += '<div class="friend-box" id="friend-' + friend.id + '">';
    divBox += '<img src="https://graph.facebook.com/' + friend.id + '/picture" id="picture-' + friend.id + '" class="pimg" img_src="https://graph.facebook.com/' + friend.id + '/picture?type=large" />';
    divBox += '<br>';
    divBox += '<a href="/u/' + friend.id + '">' + friend.name + '</a>';
    divBox += '<br>';


/*
    <div id="cute-box-holder-<%#= friend['id'] -%>">
      <%# if Cute.cuted?(session[:uid], friend['id']) %>
        <%# if Cute.cuted_back?(session[:uid], friend['id']) %>
          <%#= cuted_back_link friend['id'], friend['name'] %>
        <%# else %>
          <%#= unsure_link friend['id'], friend['name'] %>
        <%# end %>
      <%# else %>
        <%#= cute_link friend['id'], friend['name'] %>
      <%# end %>
    </div>
*/

    divBox += '</div>';

    $("#friends").append(divBox);
    friendBox(friend.id);
  }

  function userFriends(response) {
    myFriends = response;

    friends = myFriends.data;
    $("#friends").text("");

    for(i = 0; i < friends.length; i++) {
      addFriendBox(friends[i]);
    }

//    FB.XFBML.parse();
  }

  $(document).ready(function() {
    FB.api('/me/friends', userFriends);
  });
</script>
